{% extends "base.html" %}

{% block extra_head %}
<style type="text/css">
input.submit {
    margin: 0 auto;
    margin-top: 8px;
}
#main-content{
    background: none;
    box-shadow: none;
    margin: 0 auto;
    padding: 0px;
}
circle.node {
  stroke: #fff;
  stroke-width: 1.5px;
}

line.link {
  stroke: #999;
  stroke-opacity: .6;
}
</style>
{% endblock %}

{% block content %}
	<div class='gallery' id='chart' style="position:relative;"><img id="loading" src="/media/img/animated_progress.gif" alt="Loading..." style="position:absolute; top:25px;left:500px;" /></div>
{% endblock %}

{% block javascript %}
	<script type="text/javascript" src="/media/js/d3.v2.js"></script>
	<script type="text/javascript" src="/media/js/redditgraph/index.js"></script>
{% endblock %}